In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [33]:
data = pd.read_csv("/home/nishanth/tensorflow/california_housing/cal_housing.csv", header=None)
headers = open("/home/nishanth/tensorflow/california_housing/cal_housing.txt", "r")

Step 1: Getting familiar with the dataset
--------------------------------------------------

In [34]:
headers = headers.readlines()
print headers
print "-----------------------------------------------------------------------------------------------"
print data.head(10)

['longitude: continuous.\n', 'latitude: continuous.\n', 'housingMedianAge: continuous. \n', 'totalRooms: continuous. \n', 'totalBedrooms: continuous. \n', 'population: continuous. \n', 'households: continuous. \n', 'medianIncome: continuous. \n', 'medianHouseValue: continuous. \n']
-----------------------------------------------------------------------------------------------
        0      1     2       3       4       5       6       7         8
0 -122.23  37.88  41.0   880.0   129.0   322.0   126.0  8.3252  452600.0
1 -122.22  37.86  21.0  7099.0  1106.0  2401.0  1138.0  8.3014  358500.0
2 -122.24  37.85  52.0  1467.0   190.0   496.0   177.0  7.2574  352100.0
3 -122.25  37.85  52.0  1274.0   235.0   558.0   219.0  5.6431  341300.0
4 -122.25  37.85  52.0  1627.0   280.0   565.0   259.0  3.8462  342200.0
5 -122.25  37.85  52.0   919.0   213.0   413.0   193.0  4.0368  269700.0
6 -122.25  37.84  52.0  2535.0   489.0  1094.0   514.0  3.6591  299200.0
7 -122.25  37.84  52.0  3104.0   687.0  1157.0   647.0  3.1200  241400.0
8 -122.26  37.84  42.0  2555.0   665.0  1206.0   595.0  2.0804  226700.0
9 -122.25  37.84  52.0  3549.0   707.0  1551.0   714.0  3.6912  261100.0

In [35]:
headers = [x.split(":")[0] for x in headers]
data.columns = headers
print data.head(5)

   longitude  latitude  housingMedianAge  totalRooms  totalBedrooms  \
0    -122.23     37.88              41.0       880.0          129.0
1    -122.22     37.86              21.0      7099.0         1106.0
2    -122.24     37.85              52.0      1467.0          190.0
3    -122.25     37.85              52.0      1274.0          235.0
4    -122.25     37.85              52.0      1627.0          280.0

   population  households  medianIncome  medianHouseValue
0       322.0       126.0        8.3252          452600.0
1      2401.0      1138.0        8.3014          358500.0
2       496.0       177.0        7.2574          352100.0
3       558.0       219.0        5.6431          341300.0
4       565.0       259.0        3.8462          342200.0

In [37]:
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
longitude           20640 non-null float64
latitude            20640 non-null float64
housingMedianAge    20640 non-null float64
totalRooms          20640 non-null float64
totalBedrooms       20640 non-null float64
population          20640 non-null float64
households          20640 non-null float64
medianIncome        20640 non-null float64
medianHouseValue    20640 non-null float64
dtypes: float64(9)
memory usage: 1.4 MB
None

In [36]:
print data.describe()

          longitude      latitude  housingMedianAge    totalRooms  \
count  20640.000000  20640.000000      20640.000000  20640.000000
mean    -119.569704     35.631861         28.639486   2635.763081
std        2.003532      2.135952         12.585558   2181.615252
min     -124.350000     32.540000          1.000000      2.000000
25%     -121.800000     33.930000         18.000000   1447.750000
50%     -118.490000     34.260000         29.000000   2127.000000
75%     -118.010000     37.710000         37.000000   3148.000000
max     -114.310000     41.950000         52.000000  39320.000000

       totalBedrooms    population    households  medianIncome  \
count   20640.000000  20640.000000  20640.000000  20640.000000
mean      537.898014   1425.476744    499.539680      3.870671
std       421.247906   1132.462122    382.329753      1.899822
min         1.000000      3.000000      1.000000      0.499900
25%       295.000000    787.000000    280.000000      2.563400
50%       435.000000   1166.000000    409.000000      3.534800
75%       647.000000   1725.000000    605.000000      4.743250
max      6445.000000  35682.000000   6082.000000     15.000100

       medianHouseValue
count      20640.000000
mean      206855.816909
std       115395.615874
min        14999.000000
25%       119600.000000
50%       179700.000000
75%       264725.000000
max       500001.000000